/*******************************************************************************
 * Projekt, Kurs: DT161G
 * File: style.css
 * Desc: Style sheets for Projekt
 *
 * Mikael Heglind
 * mihe1602
 * mihe1602@student.miun.se
 ******************************************************************************/


/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    margin: auto;
    min-width: 960px;
    font: 13px/1.2 Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

/* Tell the browser to render HTML 5 elements as block */
header, main, nav, footer {
    display: block;
}

body {
    margin: 5px;
}

.row {
    display: flex;
}
/*---------------   HEADER   -------------------------------------------------*/
header {
    padding: 5px 5px;
    margin-bottom: 10px;
    height: 115px;
}

.logo {
    height: 100%;
    margin: 0 50px 0 0;
    float: left;
}

header #pageTitle {
    display: inline-block;
    margin-top: 10px;
}

#login  {
    padding: 5px;
    width: 275px;
    float: right;
    margin-right: 2%;
}

#logout {
    float: right;
    margin-right: 3%;
    margin-top: 20px;
    display: none;
}

#logout button {
    float: right;
    margin-top: 10px;
}

.footer {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}


/*-----------   General  ----------------------------------------------------*/


input, select {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    padding: 0
}

select {
    font-size: 1em;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgrey;
}

section {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

h1 {
    font-size: 35px;
    padding: 20px 0px;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 20px;
    margin-top: 5px;
}

h4 {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

p span {
    display: block;
    line-height: 1.0;
    font-weight: bold;
}

.blue {
    color: #2963c2;
    display: inline;
}


#addResponse, #deleteResponse {
    margin: 0;
}


main {
    width: 100%;
}



.mainContent {
    margin: auto;
    width: 960px;
}

#readMessageArea {
    display: block;

}
.messageContainer {
    display: grid;
    grid-template-columns: 35px 1fr 150px;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #222222;
}

.messageContent {
    margin-left: 75px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11pt;

}

.messageData {
    display: flex;
    vertical-align: text-bottom;
    margin-left: 75px;
    padding: 5px 5px;
}



.author {
    display: inline;
    color: #999999;
    font-size: 12pt;
}

.dateTime {
    margin-left: auto;
    color: #999999;
}

.voteDiv {
    padding: 5px 5px;
}

.voteCount {
    padding-top: 2;
    padding-bottom: 3px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.deleteContainer {
    position:relative;
}

.deleteButton {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.sortSelectContainer {
    float: right;
}

/*---------------- Text area -----------------------------------------------*/
#writeMessageTextArea {
    display: none;
}

#messageAreaLabel {
    display: block;
    font-weight: bold;
    color: #999999;
}

#messageBody {
    display: block;
    background: #222222;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px;
}

#messageBody:focus {
    display: block;
    background: #333333;
    color: #FFFFFF;
    border: 2px solid #027c1d;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
}

/*-----------   Buttons, fields, selectors  -----------------------------------------*/
input[type=text], input[type=password] {
    background: #222222;
    color: #999999;
    width: 150px;
    padding: 2px 5px;
    margin: 6px;
    border: none;
    border-radius: 3px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #027c1d;
    margin: 3px;
}

button {
    background: #027c1d;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 2px 20px;
    cursor: pointer;
}

#logoutButton, .deleteButton {
    background-color: #7c0101;
}

.deleteButton {
    margin-left: auto;
    display: none;
}

.upVoteButton, .downVoteButton {
    margin: auto;
}

input.upVoteButton:focus, input.downVoteButton:focus {
    outline-style: none;
}

select {
    border: none;
    border-radius: 3px;
    background: #222222;
    color: #999999;
    padding-left: 5px;
    padding-right: 5px;
}

/*----------- Modal ----------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 20%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: #363636;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: page;
    bottom: 0;
    background-color: #363636;
    color: #8d9ea8;
    width: 100%;
}

.closeModal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: #657884;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}


@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
#searchWordContainer {
    display: inline-block;
    margin-left: 150px;
}

